*.png
*.swp
*.pyc
002_pareto_in_words/*.txt
scratch*
temp*
003_twitter_time_of_day/data*
003_twitter_time_of_day/config.yaml
003_twitter_time_of_day/tweepy
006_cities_population_distribution/cities15000.txt
006_cities_population_distribution/cities15000.zip
007_pois_distribution/*.json
007_pois_distribution/*.osm
